.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 28px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
}

.nav-connect {
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.anchor-link {
    text-decoration: none;
    color: white
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}


/* media query */

@media(max-width:768px) {

    .navbar {
        margin: 20px 50px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        /* show on mobile */
        position: absolute;
        /* better than relative here */
        top: 10px;
        right: 20px;
        /* position from right side */
        width: 20px;
        z-index: 3;
        /* keep above menu */
    

    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0px;
        gap: 30px;
        background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;

    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}